# redirect to https
RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ignoring .git folder
RewriteRule ^(?:.git)\b.* - [R=404]

# prevent from listing directories
Options -Indexes
IndexIgnore *

<ifModule mod_headers.c>
Header set Cache-Control "no-cache"
# uncomment to enable SharedArrayBuffer (can be enabled once
# https://developer.mozilla.org/en-US/docs/Web/Security/IFrame_credentialless
# is widely supported)
# Header add Cross-Origin-Opener-Policy same-origin
# Header add Cross-Origin-Embedder-Policy credentialless
</ifModule>

AddType application/wasm data wasm
