:root {

  --link-color: #4da6ff;
  --subtitle-color: #666666;
  --python-yellow: #ffcc00;
  --python-blue: #3399ff;
  --python-grey: #999999;
  --main-font-size: 1.2vw;
  --main-font: "Open Sans", sans-serif;
}

/* Exemples de personnalisations supplémentaires */
body {
  font-family: var(--main-font);
}


/* Personnalisation des boutons */
.SpkeR0UYMcgMXkNixHdf {
  background-color: #ac620f; /* couleur de fond par défaut */
  color: #ffffff; /* couleur du texte */
}

.SpkeR0UYMcgMXkNixHdf:hover {
  background: linear-gradient(45deg, #ffcc00, #33cc33); /* dégradé jaune et vert au survol */
  color: #000000; /* texte au survol */
}

.SpkeR0UYMcgMXkNixHdf:active {
  background-color: #ff9900; /* couleur lors du clic */
  color: #000000;
}
