{% extends "base.html" %}
{% block title %}Drive{% endblock %}
{% block page_title %}Drive{% endblock %}
{% block breadcrumb %}
<a href="{{ url_for('dashboard.home') }}">{{ labels['home'] }}</a> {{ labels['breadcrumb_separator'] }} Drive
{% endblock %}

{% block content %}
<div style="margin-bottom:10px;">
  <input type="text" id="urlInput" value="https://nuage.apps.education.fr/" style="width:80%; padding:5px;">
  <button id="openBtn" style="padding:5px;">🔄</button>
</div>

<script>
document.getElementById('openBtn').addEventListener('click', function() {
    const url = document.getElementById('urlInput').value;
    window.open(url, '_blank');
});
</script>
{% endblock %}
